@import url("normalize.css");
/*:root ->获取根元素html*/
:root{
  --color-text:#f0f0f0;
  --color-high-text:pink;
  --font-size: 14px;
}

body{
  padding: 0;
  margin: 0;
  font-size: 14px;

}
a{
  text-decoration: none;
}
